Get the data from here: https://library.ucsd.edu/dc/object/bb4003017c
Need to delete the first several rows before running this notebook

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('LaJolla_TEMP_1916-202112.csv')
df = df[['YEAR', 'MONTH', 'DAY', 'SURF_TEMP_C']]
df = df.dropna()
df.head()

   YEAR  MONTH  DAY  SURF_TEMP_C
0  1916      8   22         19.5
1  1916      8   23         19.9
2  1916      8   24         19.7
3  1916      8   25         19.7
4  1916      8   26         19.5

In [4]:
df.columns = ['YEAR', 'MONTH', 'DAY', 'SURFACE_TEMP']

In [5]:
df.to_csv('../data/sea_temp.csv', index=False)